<h1>Add a New Board</h1>
<form action="/homepage/giddyup" method="post">
  <div class="form-group">
    <input id="name" name="board_name" class="form-control" placeholder="Board Name">
    <br>
    <input id="topic" name="board_topic" class="form-control" placeholder="Topic">
    <br>
    <input id="author" name="board_author" class="form-control" placeholder="Author">
    <br>
  </div>
  <button type="submit" class="btn btn-dark">Yee Haw!</button>
</form>